@model Pet
@{
	ViewBag.Title = ViewBag.EditMode ? "Edit Pet" : "Add Pet";
}

<h2>@(ViewBag.EditMode ? "Edit" : "Add") Pet</h2>



<!--Adding Instruction Card-->
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<img src="@(ViewBag.EditMode ? Model.ImageUrl : "/images/AddPet.jpg")" class="card-img-top" alt="Pet Image">
			<div class="card-body">
				<h5 class="card-title">@(ViewBag.EditMode ? "Edit your pet's details" : "Tell us about your Pet")</h5>
				<p class="card-text">1. Tell us your pets <strong>Name</strong></p>
				<p class="card-text">2. Enter your pets <strong>Type</strong></p>
				<p class="card-text">3. What is their <strong>Breed</strong></p>
				<p class="card-text">4. Enter their <strong>Age</strong></p>
				<p class="card-text">5. When is their <strong>Birthday</strong></p>
				<p class="card-text">6. Upload a <strong>Picture</strong> to show us what they look like!</p>
			</div>
		</div>
	</div>


	<div class="col-md-8">
		<!--Add/Edit Pet Form, enctype attribute for image upload-->
		<form asp-controller="Pets" asp-action="@(ViewBag.EditMode ? "EditPet" : "AddPet")" asp-route-id="@Model.PetId" method="post" enctype="multipart/form-data">
			
			<!--error summary-->
			<div asp-validation-summary="All" class="text-danger"></div>

			<!--previous pet values to resubmit-->
			@if (ViewBag.EditMode)
			{
				<input type="hidden" asp-for="PetId" />
				<input type="hidden" asp-for="UserId" />
			}

			<div class="form-group">
				<label asp-for="PetName">Pet Name</label>
				<input asp-for="PetName" class="form-control" placeholder="@Model.PetName" required />
			</div>
			<div class="form-group">
				<label asp-for="PetType">Pet Type</label>
				<select asp-for="PetType" class="form-control" required>
					<option value="">Select</option>
					<option value="Dog">Dog</option>
					<option value="Cat">Cat</option>
					<option value="Bird">Bird</option>
					<option value="Fish">Fish</option>
					<option value="Reptile">Reptile</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="PetBreed">Pet Breed</label>
				<input asp-for="PetBreed" class="form-control" placeholder="@Model.PetBreed" />
			</div>
			<div class="form-group">
				<label asp-for="PetAge">Pet Age</label>
				<input asp-for="PetAge" type="number" min="0" class="form-control" placeholder="@Model.PetAge" required />
			</div>
			<div class="form-group">
				<label asp-for="PetBirthday">Pet Birthday</label>
				<input asp-for="PetBirthday" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
			</div>
			<div class="form-group">
				<label asp-for="PetGender" class="control-label"></label>
				<select asp-for="PetGender" class="form-control" required>
					<option value="" disabled>-- Select Gender --</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
			<div class="form-group mb-3">
				<label class="control-label">Upload Pet Image</label>
				<input type="file" name="ImageFile" class="form-control" />
			</div>

			<div class="form-group mb-3">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
